PORT=8000
NODE_ENV=development
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/polar_ems?schema=public"
JWT_SECRET=polar_ems_secure_secret_key_sih2024_antarctica_station_energy_system
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:3000
